[rmk]
debounce_time = 50

[keyboard]
name = "CalderaRMK"
product_name = "CalderaRMK"
vendor_id = 0x4c4b
product_id = 0x4643
manufacturer = "RMK"
chip = "nrf52840"
# board = "nice!nano_v2" 
usb_enable = true

[layout]
rows = 5
cols = 12
layers = 3
keymap = [
    [
        ["Escape","Kc1","Kc2","Kc3","Kc4","Kc5","Kc6","Kc7","Kc8","Kc9","Kc0","Backspace"],
        ["Tab","Q","W","E","R","T","Y","U","I","O","P","Backslash"],
        ["CapsLock","A","S","D","F","G","H","J","K","L",";","Enter"],
        ["LShift","Z","X","C","V","B","N","M",",",".","/","'"],
        ["LCtrl","LAlt","LGui","Space","LAlt","LGui","Space","MO(1)","Left","Down","Up","Right"]

    ],
    [
        ["TO(0)", "F1", "F2", "F3", "F4", "F5",   "F6", "F7", "F8","F9", "F10", "F11"],
        ["_", "User0", "User1","User2", "User3", "User4", "User5", "_", "_","_", "_", "_"],
        ["_", "_", "_","_", "_", "_",   "_", "[", "]","-", "=", "_"],
        ["_", "_", "_","_", "_", "_",   "Grave", "_", "_","_", "_", "_"],
        ["_", "_", "_","_", "_", "_",   "_", "_", "_","_", "_", "_"],
    ],
    [
        ["TO(0)","_", "_","_", "_", "_",       "_", "_", "_","_", "_", "_" ],
        ["_", "_", "_","_", "_", "_",       "_", "_", "_","_", "_", "_"],
        ["_", "_", "_","_", "_", "_",       "_", "_", "_","_", "_", "_"],
        ["_", "_", "_","_", "_", "_",       "_", "_", "_","_", "_", "_"],
        ["_", "_", "_","_", "_", "_",       "_", "_", "_","_", "_", "_"],
    ],
]

[ble]
enabled = true
battery_adc_pin = "vddh"

[storage]
enabled = true
# Storage starts from 640K
start_addr = 0xA0000
# Storage uses 128K = 640K ~ 768K
num_sectors = 32


[split]
connection = "ble"

[split.central]
rows = 5
cols = 6
row_offset = 0
col_offset = 0

[split.central.matrix]
matrix_type = "normal"
row_pins = [ "P0_31", "P0_29", "P0_02", "P1_15", "P1_13"]
col_pins = ["P0_20", "P0_22", "P0_24", "P1_00", "P0_11", "P0_17"]


[[split.peripheral]]
rows = 5
cols = 6
row_offset = 0
col_offset = 6
ble_addr = [0x7e, 0xfe, 0x73, 0x9e, 0x66, 0xe3]

[split.peripheral.matrix]
matrix_type = "normal"
row_pins = [ "P0_31", "P0_29", "P0_02", "P1_15", "P1_13"]
col_pins = [ "P0_17", "P0_11", "P1_00", "P0_24", "P0_22", "P0_20"]
